<div class="container-fluid h-100">
    <div class="row justify-content-center">
        <img src="assets\img\logo\paryatak-logo.png" class="w-50 img-fluid" alt="Responsive image">
    </div>
    <div class="row">
        <div class="offset-2 col-4">
            <div class="card">
                <!-- Card image -->
                <div class="view overlay winter-neva-gradient">
                    <img class="card-img-top w-75 img-fluid" src="assets\img\tours\tour-1.png" alt="Card image cap">
                    <a (click)="signUp()">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title pink-text">Tourist Sign Up</h4>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <!-- Card image -->
                <div class="view overlay winter-neva-gradient">
                    <img class="card-img-top w-75 img-fluid justify-content-center" src="assets\img\tours\tour-2.png"
                        alt="Card image cap">
                    <a (click)="signUp()">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title pink-text">Paryatak for Business</h4>
                </div>
            </div>
        </div>
    </div>
</div>
